Package: com.doregon.overb0ard
Name: overb0ard
Depends: firmware (>= 12.0)
Multi-Arch: foreign
Provides: com.doregon.overb0ard-dev (= 1.0.4), com.kramerapps.jetsamctl (= 1.0.4), jetsamctl (= 1.0.4)
Conflicts: com.doregon.overb0ard-dev, com.kramerapps.jetsamctl, jetsamctl
Replaces: com.doregon.overb0ard-dev, com.kramerapps.jetsamctl, jetsamctl
Version: 1.0.4
Architecture: iphoneos-arm
Description: Take control of your device's memory. installed as command `jetsamctl'.
Maintainer: Torrekie <me@torrekie.dev>
Author: Adam Tunnic <tunnic.adam@gmail.com>
Section: System
